
.DS_Store
*.rpa
*.rpyc
*.chr
*.bak
*.save
errors.txt
traceback.txt
log.txt
project.json
game/cache/bytecode.rpyb
game/cache/pyanalysis.rpyb
game/cache/screens.rpyb
game/saves/persistent
game/saves/navigation.json
*.ini
